<div class="container-fluid">
  <h1>New Improgroup</h1>
</div>
  <div class="container">
    <h2><%= render 'form', improgroup: @improgroup %></h2>
  </div>

<button type="button" name="button"></button>
<%= link_to 'Back', improgroups_path %>
